body{
    background-color: aqua;
}

.cards-container{
    display: flex;
    border: 10px solid black;
    justify-content: center;
    margin: 0 auto;
    width: 1600px;
    height: 800px;
    flex-wrap: wrap;

}
.cards-container__card{
    border: 10px solid black;
    width: 300px;
    height: 350px;
    margin: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}


.hidden{
    opacity: 0;
}

.cards-container img:hover {
    cursor: pointer;
}



